<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBClasses.Properties.Settings.DBModel_ContextConnectionString"
            connectionString="Data Source=DESKTOP-588999M\SQLEXPRESS;Initial Catalog=DBModel.Context;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBClasses.Properties.Settings.DBModel_ContextConnectionString1"
            connectionString="Data Source=SBT-PC1\SQLEXPRESS;Initial Catalog=DBModel.Context;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>